html {
    font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #1e1e2f;
    color: #525f7f;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer {
	padding-left: 24px;
}

main {
    flex: 1;
}

h1 {
	padding-top: .8em;
	margin-bottom: .6em;
	font-family: Poppins;
}

h2,h3,h4,h5,h6 {
	padding-top: 1.2em;
	margin-bottom: .5em;
}
